.popup__container {
  display: flex;
  width: 430px;
  background-color: white;
  border-radius: 10px;
  transform: translate(-50%, -50%);

}

@media screen and (max-width:530px) {
  .popup__container {
    width: 282px;

  }
}