.root__profile {
  width: 100%;
  margin: 40px 0 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

@media screen and (max-width:1044px) {
  .root__profile {
    margin: 42px 0 36px;
    flex-direction: column;
    
  } 
}